.text-animation span:before {
    content: "Web Developer";
    animation: words 15s infinite;
}

.text-animation span ::after {
    content: "";
    animation: cursor 0.6s infinite, typing 20s steps(14)infinite;
}



@keyframes words {

    0%,
    20% {
        content: "MERN Stack Developer";

    }

    21%,
    40% {
        content: "UI/UX Designer";
    }

    41%,
    60% {
        content: "Photographer";
    }

    60%,
    100% {
        content: "Artist";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 5;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}
